source https://nuget.org/api/v2

nuget FSPowerPack.Core.Community ~> 3

group Example
  source https://nuget.org/api/v2

  nuget Microsoft.Tpl.Dataflow ~> 4.5

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2